body {
	background-image: url('images/pawel-czerwinski-2tLNNp1vGhU-unsplash (1).jpg');
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

#titleArea {
	background-image: url('images/pawel-czerwinski-2tLNNp1vGhU-unsplash (1).jpg');
}

#title {
	display: inline-block;
	width: 500px;
	background-color: rgba(138, 138, 138, 0.5);
}

h1 {
	font-size: 56px;
	padding: 50px 0px 0px 0px;
	text-decoration: underline;
	background-color: rgba(138, 138, 138, 0.5);
}

#subTitle {
	background-color: rgba(138, 138, 138, 0.5);
	width: 500px;
	padding: 0px 0px 30px 0px;
}

h2 {
	font-size: 28px;
	padding: 10px;
	text-decoration: underline;
}

#directions {
	background-color: rgba(138, 138, 144, 0.5);

}

p {
	font-size: 20px;
	padding: 10px;

}

.button {
	font-size: 20px;
	border-radius: 15px;
	background-color: #c2c2a3;
	border-color: #3d3d29;
	border-width: 5px;
}

.stats {
	display: inline-block;
	padding: 50px 100px 50px 100px;
}

#startButton {
	
}

#finishArea {
	display: none;
	height: 100vh;
}

#heckling {
	width: 1000px;
}

#recordsTitle {
	background-color: rgba(138, 138, 144, 0.5);
	padding: 20px 0px 0px 0px;
	margin: 20px 0px 0px 0px
}

#playAgainButton {
	
}

#statusArea{
	display: none;
	width: 100%;
	height: 100px;
	background-image: url('images/pawel-czerwinski-2tLNNp1vGhU-unsplash (1).jpg');
}

#health {

}

#score {
	
}

#contButtonArea {
	display: none;
}

#continueButton {
	
}

table {
	border: 1px solid black;
	display: inline-block;
}

th {
	text-decoration: underline;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
}

td {
	padding: 10px;
	background-color: white;
	border: 1px solid black;
}

#tableBody {
	text-align: center;
}

#playArea {
	height: 100vh;
	background-color: black;
}

#exitButtonArea {
	display: none;

}

#exitButton {

}

.row {
	border-width: 0px;
	margin: 0px;
	border-width: 0px;
	background-color: black;
}

.column {
	background-color: black;
	background-size: 100% 16vh;
	display: inline-block;
	padding: 46px;
	margin: 0px;
	border-width: 0px;
	color: black;
	border-radius: 30px;
}

#footer {
	padding: 10px;
	font-size: 16px;
	color: black;
}

