body {
	margin: 0;
	padding: 0;
	text-align: center;
}

#titleArea {
	background-color: yellow;
}

h1 {

}

#startButton {
	font-size: 20px;
}

#sceneLayer {
	height: 100vh;
	background-color: #8a8a5c;
}

.row {
	border-width: 0px;
	margin: 0px;
	border-width: 0px;
	background-color: black;
}

.column {
	background-color: black;
	display: inline-block;
	padding: 46px;
	margin: 0px;
	border-width: 0px;
	color: black;
	border-radius: 30px;
}
